.container.mx-auto.px-4.py-8
  img(src='https://raw.githubusercontent.com/birdsofspace/browser-wallet-dev/main/images/icon-512.png' alt='Logo Birds of Space' width='128' height='128')
  h1.text-3xl.font-bold.mb-4 DApps Smart Contracts
  select#selectContract
    option(value='') Select
  #abiForm.grid.grid-cols-1.gap-4
include bottom-external-source.pug