link(rel='apple-touch-icon' sizes='180x180' href='../public/apple-touch-icon.png')
link(rel='icon' type='image/png' sizes='32x32' href='../public/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='16x16' href='../public/favicon-16x16.png')
link(rel='manifest' href='../public/site.webmanifest')
link(rel='mask-icon' href='../public/safari-pinned-tab.svg' color='#5bbad5')
link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap' rel='stylesheet')
link(href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css' rel='stylesheet')
link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css')
script(src='https://cdn.ethers.io/lib/ethers-5.2.umd.min.js' type='application/javascript')